<div class="row">
    <div class="col s12 m12">
        <div class="card-content indigo-text .text-darken-4">
            <h6 class="indigo-text .text-darken-4">{{titulo}}</h6>
            <form name="trabajdorForm" ng-submit="guardarTrabajador()">
                <div class="input-field col s6 m6">
                    <input class="indigo-text .text-darken-4" name="cedula" placeholder="Cédula" type="number" ng-model="Trabajador.cedula" required>
                </div>
                <div class="input-field col s6 m6">
                    <input class="indigo-text .text-darken-4" name="nombre" placeholder="Nombre" type="text" ng-model="Trabajador.nombre" required>
                </div>
                <div class="input-field col s6 m6">
                    <input class="indigo-text .text-darken-4" name="apellido" placeholder="Apellido" type="text" ng-model="Trabajador.apellido" required>
                </div>
                <div class="input-field col s6 m6">
                    <input class="indigo-text .text-darken-4" name="correo" placeholder="Correo" type="email" ng-model="Trabajador.correo" required>
                </div>
                <div class="input-field col s6 m6">
                    <input class="indigo-text .text-darken-4" name="estatus" placeholder="estatus" type="text" ng-model="Trabajador.estatus" required>
                </div>
                <div class="input-field col s6 m6">
                    <input class="indigo-text .text-darken-4" name="cargo" placeholder="cargo" type="email" ng-model="Trabajador.cargo" required>
                </div>
               <!-- <div class="input-field col s6">
                    <select class="indigo-text .text-darken-4" name="estatus" ng-options="estatus for estatus in Estatuss" ng-model="Trabajador.estatus">
                        <option value="" disabled selected class="indigo-text .text-darken-4">Seleccione el Estatus</option>
                    </select>
                    <label>Estatus</label>
                </div>
               <div class="input-field col s6">
                   <select class="indigo-text .text-darken-4" name="cargo" ng-options="cargo for cargo in Cargos" ng-model="Trabajador.cargo">
                        <option value="" disabled selected class="indigo-text .text-darken-4">Seleccione el cargo</option>
                    </select>
                    <label>Cargos</label>
               </div>-->
            </form>

        </div>

    </div>


</div>

<div class="row">
    <div class="col s12 m12">
        <div class="card-content">

        <button class="btn pink darken-3" type="submit" ng-click="guardarTrabajador()">
            {{boton}}
        </button>
        <button ui-sref="catalogo" class="btn pink darken-3" type="submit">
            {{botonRegresar}}
        </button>
        </div>
    </div>
</div>


